.title{
  background-color: #cbf1f5;
  position: relative;
  width: 100;
  height: 50px;
}
.side-bar{
  margin-top:10px;
  position: absolute;
  width: 100;
  height: 50px;
  right: 0;
}
.a-title{
  color: #66bfbf;
  margin: 10px;
  font-size: 12px;
}
h1{
margin-top:0;
font-family: 'Sacramento', cursive;
color: #66bfbf;
}
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514e;
    line-height: 2;
}
h2{
  margin-top: 0;
  font-family: 'Montaga', serif;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom:  10px;
}
h3{
  font-family: 'Montaga', serif;
  color: #11999e;
}
.top{
  background-color: #cbf1f5;
  position: relative;
  padding-top:  100px;
}

.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
hr{
  border-style: dotted none none;
  border-color:  #dddddd;
  border-width: 5px;
  width: 15%;
}
.skill-row{
  width: 50%;
  position: relative;
  margin:  100px auto 100px auto;
  text-align: left;
}
.Code-img{
  float: left;
  margin-right: 30px;
}
.edit-img{
  float: right;
  margin-right: 30px;
}
.middle{
  margin: 100px 0;
}
.bottom{
background-color: #66bfbf;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montaga', serif;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer{
  margin-bottom: 0;
  color: white;
  padding: 20px 0;
}
.footer-link{
  margin: 10px;
  color: #11999e;
  font-family: 'Montaga', serif;
  text-decoration: none;
}
.footer-link:hover{
  color: #30e3cb;
}
