
.header-top{
  background-color: black;
  color: white;
  position: relative;
  padding: 10px;
}
.title{
  margin: 0;
}
.side-bar{
  position: absolute;
  right: 0;
  top: 15px;
}
.a-side{
  color: white;
  margin: 20PX;
}


.footer{
  background-color: black;
  position: relative;
  bottom: 0 ;
  width: 100vw;
  text-align: center;
  color: white;
  padding: 18px;
  margin-top: 50px;
}
.p-footer{
margin: 10px;
}
.p-footer:hover{
  cursor: pointer;
}
.h33-footer{
  font-size: 12px;
}
.c-main-div{
  text-align: left;
  padding: 100px;
}

@media (max-width:831px) {
  .c-main-div{
    text-align: center;}
}

.c1-div{
  border-top: 20px solid blue;
  border-bottom: 5px solid Blue;
  border-radius: 25px;
  height: 300px;
  box-shadow: 10px 5px 10px gray;
  margin: 20px;
  padding: 18px;
}
.c2-div{
  border-top: 20px solid green;
  border-bottom: 5px solid green;
  border-radius: 25px;
  height: 300px;
  box-shadow: 10px 5px 10px gray;
  margin: 20px;
    padding: 18px;
}
.c3-div{
  border-top: 20px solid blue;
  border-bottom: 5px solid Blue;
  border-radius: 25px;
  height: 300px;
  box-shadow: 10px 5px 10px gray;
  margin: 20px;
    padding: 18px;
}
.w{
  margin-top: 30px;
}
