body {
  background-image: url('CAR.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1{
  color: white;
  font-family: cursive;
  background-color: black;
}

.container{
  display: flex;
}
.left.container {
  width:  1500px;
  background-color: black;
  opacity: .3 ;
  color: white;
}

.p1{
  font-size: 18px;
  font-family: sans-serif;
  text-align: left;
}
.p2{
  font-size: 50px;
  font-family: sans-serif;
  text-align: left;
}
.absolute {
  position: absolute;
  width: 40%;
  bottom: 10px;
  background-color: red;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
