.body-container2 {
  color: white;
  position: relative;
  width: 100vw;
  padding: 20px;
}

.h1-title-brand {
  margin-bottom: 0;
  margin-left: 40px;
}
.a1-top{
  color: white;
  text-decoration: none;
}

.a1-top:hover{
  color: white;

}
.t11 {
  width: 100vw;
}


.con11_left {
  background-position: center;
  background-size: cover;
  height: 545px;
  color: black;
  line-height: 2;
}


.text111{
  padding: 2% 10%;
}
@media (max-width:1028px) {
  .con11_left {
    text-align: center;
    height: 800px;
  }
  .con11-right{
    height: 1000px;
  }
}

.con11-right {
  background-size: cover;
  background-position: center;
  height: 545px;
}

.header-con {
  background-color: #393e46;
  padding:  20px 0 ;
}

.footer {
  color: white;
  text-align: center;
  width: 100vw;
  background-color: #393e46;
  position: relative;
  bottom: 0;
  padding: 50px;
}
.p-footer{
  color: #e1e5ea;
  margin: 10px;
}
.p-footer:hover{
  color: white;
}

.side.bar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;  
  padding-right: 20px;
  padding-top: 17px;
}

.h3t {
  font-size: 12px;
  margin: 20px;
}
.h33-footer{
  font-size: 12px;

}


/* swipe */
